/* ------ CSS RESET ------ */

* {
   padding: 0;
   margin: 0;
   font-size: 100%;
   line-height: 1.5em;
}
    
body {
    width: 80%;
    max-width: 750px;
    font-family: 'Libre Baskerville', serif;
    margin: auto;
    line-height: 1.8;
    }
    
/* ------ TYPOGRAPHY ------ */
    
h1, h2, h3 {
   font-weight: normal;
   text-align:left;}

p, li {
    margin-bottom: 2em;
    line-height: 1.5em;}

h1 {
    font-size: 300%;
    margin-top: .1em;
    margin-bottom: -0.3em;
    font-weight: 100;
   }

h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2.25em;
    margin-bottom: 1em;
    font-style: italic;
   }
.intro {
    font-size: 1.5em;
}    

blockquote {
    padding: 1em 0 2em 1em;
    font-size: 1.75em;
    line-height: 1.4em;
    margin: 0;}

blockquote cite {
    font-size: .75em;}

blockquote p {
    font-family: 'Libre Baskerville', serif;
    color: #777;
    hanging-punctuation: first;
    text-indent: -0.5em;
    font-style: italic
}

.version2, .version3 {font-family: 'Open Sans', sans-serif;}

.version2 blockquote p {
    font-family: 'Open Sans', sans-serif;}

.version3 h1, h2, blockquote {font-family: 'Arvo', serif;}

.version3 blockquote p {
    font-family: 'Arvo', serif;}

hr {margin: 4em 0;
height: 1px;
background-color: red;
color: red;
border: 0 none}

.firstcharacter { float: left; color: black; font-size: 75px; line-height: 60px; padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family: Libre Baskerville; }

